/* .App {
  align-content: center;
  text-align: center;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--gradient-white-blue);
}

.grid {
  display: grid;
  place-items: center;
  margin-top: 10%;
}

.margin-input {
  margin-bottom: 15px;
  margin-top: 15px;
}

.margin {
  margin-bottom: 15px;
}

.txt {
  font-weight: bold;
  font-size: 16px;
}
.txt-tasks {
  font-weight: bold;
  font-size: 35px;
}