:root {
  /* declare a variable with `--` syntax */
  --gradient-white-blue: linear-gradient(
    90deg,
    #103783,
    #9bafd9
  );
};

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--gradient-white-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  color: rgb(0, 0, 0);
  background-color: #9fccfa;
  border-radius: 12px;
}